.SelectUsers {
  position: relative;
}

.SelectUsers ul {
  list-style-type: none;
}

.SelectUsers li {
  cursor: pointer;
  border-left: 10px solid transparent;
  padding-left: 10px;
  font-size: 30px;
  font-weight: 600;
}

.SelectUsers li.active {
  color: #d45055;
  border-left-color: #d45055;
}

.SelectUsers li:focus {
  border-left-color: #444;
  outline: none;
}

.SelectUsers li:hover {
  cursor: pointer;
  border-left-color: #444;
}

@media (max-width: 600px) {
  .SelectUsers ul {
    padding-left: 5vw;
  }

  .SelectUsers li {
    font-size: 5vw;
    padding: 2.5vw;
    padding-left: 5vw;
  }

  /* disable keyboard control visual feedback for mobile */
  .SelectUsers li,
  .SelectUsers li:focus,
  .SelectUsers li:hover {
    border-left-color: transparent;
  }

  .SelectUsers li.active {
    border-left-color: #d45055;
  }
}
